@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
}

* {
    margin: 0;
    /* colors */
    --pale-blue: #e2e8f0;
    --sky-blue: #1992d4;
    font-family: 'roboto';
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template: auto 1fr / max(300px, 20%) 1fr;
    box-sizing: border-box;
}

header {
    grid-column: 2;
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 32px;
    padding: 16px 48px;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 10px 30px -32px black; 
}

.search-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
}

img[src$='svg'] {
    height: 24px;
    display: block;
}

#search {
    background-color: var(--pale-blue);
    border: none;
    border-radius: 16px;
    padding: 6px;
}

#search:focus {
    outline-color: var(--sky-blue);
}

.user {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
    align-items: center;
    justify-self: end;
    padding-right: 32px;
    font-weight: bold;
}

.user > img.profile-image {
    height: 40px;
}

.profile-image {
    clip-path: circle(50%);
}

.user-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 16px;
    align-items: center;
}

.info > p {
    font-weight: bold;
    font-size: 0.9rem;
}

.info > p:last-child {
    font-size: 1.4rem;
}

.buttons {
    width: fit-content;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

button {
    padding: 10px 24px;
    background-color: var(--sky-blue);
    color: white;
    border-radius: 32px;
    border: none;
    cursor: pointer;
}

.user-info > img.profile-image {
    height: 80px;
}

aside {
    grid-row: 1 / span 2;
    background-color: var(--sky-blue);
    color: white;
}

main {
    grid-row: 2;
    background-color: var(--pale-blue);
}